<div class="projects-container text-center mt-8 py-12 px-6">
  <h2 class="text-3xl md:text-4xl font-bold mb-6 text-white">My Projects</h2>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div *ngFor="let project of projects"
         class="project-card bg-gray-900 text-white rounded-lg shadow-lg overflow-hidden flex flex-col h-[700px]">

      <!-- Project Image -->
      <div class="flex justify-center items-center w-full mt-4 hover:transform hover:scale-110 transition duration-300">
        <img [src]="project.imageUrl" [alt]="project.name"
             class="w-64 h-64 object-cover object-center">
      </div>

      <!-- Content Container -->
      <div class="p-6 flex flex-col flex-grow">
        <!-- Project Name -->
        <h3 class="text-xl font-semibold">{{ project.name }}</h3>

        <!-- Role -->
        <p class="text-orange-400 font-semibold mt-2">{{ project.role }}</p>

        <!-- Technologies -->
        <div class="mt-2 mb-4 min-h-[64px]"> <!-- Set min height here -->
          <div class="flex flex-wrap justify-center gap-2">
            <div *ngFor="let tech of project.technologies" class="flex items-center">
              <img *ngIf="technologyLogos[tech]; else textFallback"
                   [src]="technologyLogos[tech]" [alt]="tech"
                   class="w-8 h-8">
              <ng-template #textFallback>
                <span class="text-gray-300 text-sm">{{ tech }}</span>
              </ng-template>
            </div>
          </div>
        </div>

        <!-- Description -->
        <div class="flex-grow mb-2">
          <p class="text-gray-300">{{ project.description }}</p>
        </div>

        <!-- Project Link Button -->
        <div>
          <a *ngIf="project.projectUrl"
             [href]="project.projectUrl" target="_blank"
             class="btn relative inline-block mt-4 bg-blue-600 hover:bg-blue-700 text-white font-bold py-2.5 px-8 rounded-lg transition duration-300 shadow-lg hover:shadow-xl transform hover:-translate-y-0.5 active:translate-y-0">
            View Project
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
