<div class="page-wrapper relative bg-gradient-to-r from-bg-blue to-bg-black">
  <!-- <div class="background-overlay"></div>  -->
   <div class="absolute bg-cover bg-center inset-0 bg-[url('/abstract-background.jpg')] opacity-20"></div>

  <!-- Navigation Header -->
  <section id="header" class="nav-header">
    <app-header></app-header>
  </section>

  <!-- Sections for each component -->
  <section id="hero" class="section">
    <app-hero></app-hero>
  </section>

  <section id="about" class="section">
    <app-about></app-about>
  </section>

  <section id="projects" class="section">
    <app-projects></app-projects>
  </section>

  <section id="contact" class="section">
    <app-contact></app-contact>
  </section>

  <section id="footer" class="section">
    <app-footer></app-footer>
  </section>  

  <router-outlet></router-outlet>
</div>
