/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  margin: 0;
  padding: 0;
}

.section {
  min-height: 100vh;
}

@layer utilities {
  .perspective {
    perspective: 1000px;
  }

  @keyframes flip-in {
    0% {
      opacity: 0;
      transform: rotateY(90deg);
    }
    100% {
      opacity: 1;
      transform: rotateY(0deg);
    }
  }

  .flip-in {
    transform-style: preserve-3d;
    animation: flip-in 0.6s ease-out forwards;
  }
}